<ion-header>
  <ion-navbar>
    <ion-title>Proforma</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label stacked>Seleccione un Cliente:</ion-label>
    <!--[disabled]="true"-->
    <ion-input type="text"
               (ionFocus)="openSearchClientModal({charNum: 1})"
               [(ngModel)]="proformaData.client.label"
               name="razon_social"
               placeholder="Seleccione un Cliente">
    </ion-input>
  </ion-item>

  <ion-item text-center>
    <button ion-button ion-button round (click)="addProductBtn()">
      Agregue Productos &nbsp;
      <ion-icon name="md-add-circle"></ion-icon>
    </button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of proformaData.items; let i = index">
      {{ item.producto | lowercase}} {{item.concentrado | lowercase}}
      <br>
      <h5><b>Subtotal</b> 34 items</h5>
      <button ion-button item-end outline (click)="detailProductBtn(item, i)">Detalle</button>
      <button ion-button item-end (click)="removeProductBtm(item, i)">X</button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="proformaData.items?.length === 0">
    <ion-item>
      <h3 ion-text color="danger" text-center>Ningún Producto Agregado</h3>
    </ion-item>
  </ion-list>

  <div paddingfull>
    <button ion-button
            [disabled]="!proformaData.client.razon_social"
            (click)="saveProforma()"
            block>
      Guardar proforma
    </button>
  </div>
</ion-content>
