<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clientes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm"  [formControl]="searchControl"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.razon_social }}
      <br>
      <span *ngIf= "item.deuda_actual"><b>Deuda Actual:</b> {{item.deuda_actual}} bs.</span>
    </ion-item>
  </ion-list>
</ion-content>
